@theme {
  --color-primary: #3069fe;
  --color-accent: #f8c51b;
  --color-text-primary: #252c32;
  --color-text-primary-50: #373e44;
  --color-text-primary-100: #787878;
  --color-text-primary-150: #989b9e;
  --color-text-primary-200: #dde2e4;
}
