@theme {
  --color-primary: #3069fe;
  --color-accent: #f8c51b;
  --color-gray: #252c32;
  --color-gray-50: #373e44;
  --color-gray-100: #787878;
  --color-gray-150: #989b9e;
  --color-gray-200: #dde2e4;
}
